.sidebar {
  width: 250px;
  background: #111827;
  min-height: 100vh;
  padding: 25px;
  color: white;
}

.logo {
  margin-bottom: 40px;
}

.logo h2 {
  font-size: 24px;
}

.logo p {
  color: #9ca3af;
  font-size: 13px;
}

nav a {
  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  color: #d1d5db;

  padding: 14px;
  border-radius: 10px;

  margin-bottom: 10px;

  transition: .3s;
}

nav a:hover {
  background: #1f2937;
  color: white;
}