.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;
}

.dashboard-header p {
  color: gray;
}

.stats-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;

  margin-bottom: 25px;
}

.stat-card h1 {
  margin: 15px 0;
}

.stat-card p {
  color: gray;
}

.table-card {
  width: 100%;
}
